<section id="post_feed">
    <ul>
        <% for(let post of posts){%>
        <p>
            <li>
                <% if(locals.user && post.user.id == locals.user.id){%>
                    <small>
                        <a href="/posts/destroy/<%= post.id %>">X</a>
                    </small>
                    <%}%>
                <span> Name : <%= post.user.name %></span>
                <br>
                <span> Content: <%= post.content %></span>
            
                <div class="post-comments">
                    <form action="/comments/create" method="post">
                        <input type="text" name="content" placeholder="Enter Your Comment" required>
                        <input type="hidden" name="post" value="<%= post._id%>">
                        <input type="submit" value="Add Comment">
                    </form>
                </div>
            
                <div class="post-comments-list">
                    <h3>Comments</h3>
                    <ul id="post=comments-<%=post._id%>">
                        <% for(comment of post.comments){%>
                        <li>
                            <p>
                                <% if(locals.user && comment.user.id == locals.user.id){%>
                                    <small>
                                        <a href="/comments/destroy/<%=comment.id%>">X</a>
                                    </small>
                                <%}%>
                                <span>Name: <%=comment.user.name%></span>
                                <br>
                                <span>content: <%=comment.content%></span>
                            </p>
                        </li>
                        <%}%>
                    </ul>
                </div>
            
            </li>
        </p>
        <%}%>
    </ul>
</section>