
<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>Codeial home page</h1>

    <%if(locals.user){%>
    <section id="post-form">
        <h4>Posts</h4>
        <form action="/posts/create" id="new=post-form" method="post">
            <textarea name="content"  cols="30" rows="3" placeholder="Type here...." required></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
    <%}%>

    <%if(locals.user){%>
    <section id="post_feed">
        <ul>
            <% for(let post of posts){%>
            <p>
            <li>
                <span> Name : <%= post.user.name %></span>
                <br>
                <span> Content: <%= post.content %></span>

                <div class="post-comments">
                    <form action="/comments/create" method="post">
                        <input type="text" name="content" placeholder="Enter Your Comment" required>
                        <input type="hidden" name="post" value="<%= post._id%>">
                        <input type="submit" value="Add Comment">
                    </form>
                </div>

                <div class="post-comments-list">
                    <h3>Comments</h3>
                    <ul id="post=comments-<%=post._id%>">
                        <% for(comment of post.comments){%>
                        <li>
                            <p>
                                <span>Name: <%=comment.user.name%></span>
                                <br>
                                <span>content: <%=comment.content%></span>
                            </p>
                        </li>
                        <%}%>
                    </ul>
                </div>

            </li>
            </p>
            <%}%>
        </ul>
    </section>
    <%}%>
</body>
</html>