<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <% if (user.id == profile_user.id){%>
        <center><h1>User Profile</h1></center>
        <form action="/user/update/<%=profile_user.id%>" method="post">
            <p>Name: <%= profile_user.name%></p>
            <input type="text" name="name" placeholder="Enter name" value="<%=profile_user.name%>" required>
            <p>Email: <%= profile_user.email%></p>
            <input type="email" name="email" placeholder="Enter Email" value="<%=profile_user.email%>" required>
            <br>
            <input type="submit" value="Update">
        </form>
        <center>
            <form action="/user/signout" method="post">
                <input type="submit" value="Sign Out">
            </form>
        </center>
    <%} else {%>
        <center><h1>User Profile</h1></center>
        <p>Name: <%= profile_user.name%></p>
        <p>Email: <%= profile_user.email%></p>
    <%}%>   
</body>
</html>